.container {
  perspective: 800px;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  backface-visibility: hidden;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden !important;
  width: 100%;
  height: 100%;
}
